[Unit]
Description=Simple translator from mqtt messages to prometheus. Analog to pushgateway
Before=prometheus.service

[Service]
ExecStart=/opt/mqtt2prometheus/mqtt2prometheus -config /etc/mqtt2prometheus/config.yaml -port 8002

[Install]
WantedBy=multi-user.target
